pkgbase = pgadmin4-desktop
	pkgdesc = The desktop user interface for pgAdmin. pgAdmin is the most popular and feature rich Open Source administration and development platform for PostgreSQL, the most advanced Open Source database in the world.
	pkgver = 8.13
	pkgrel = 1
	url = https://www.pgadmin.org/
	arch = x86_64
	license = PostgreSQL
	depends = pgadmin4-server
	depends = xdg-utils
	depends = python-dbus
	provides = pgadmin4-desktop
	source = pgadmin4-desktop-8.13-x86_64.deb::https://ftp.postgresql.org/pub/pgadmin/pgadmin4/apt/noble/dists/pgadmin4/main/binary-amd64/pgadmin4-desktop_8.13_amd64.deb
	sha256sums = a0591aeb09603f74af37a5fc21ce7c542a80ad2b2a0412ff7879c4a9dc03379e

pkgname = pgadmin4-desktop
