pkgbase = pgadmin4-desktop
	pkgdesc = The desktop user interface for pgAdmin. pgAdmin is the most popular and feature rich Open Source administration and development platform for PostgreSQL, the most advanced Open Source database in the world.
	pkgver = 8.11
	pkgrel = 2
	url = https://www.pgadmin.org/
	arch = x86_64
	license = PostgreSQL
	depends = pgadmin4-server
	depends = xdg-utils
	depends = python-dbus
	provides = pgadmin4-desktop
	source = pgadmin4-desktop-8.11-x86_64.deb::https://ftp.postgresql.org/pub/pgadmin/pgadmin4/apt/noble/dists/pgadmin4/main/binary-amd64/pgadmin4-desktop_8.11_amd64.deb
	sha256sums = 745f200cedc7d0a6159ba5a3154f27edf9fbd35815413a2a6ea87becb7633eb7

pkgname = pgadmin4-desktop
